.container {
    h3 {
        margin-bottom: 20px;
    }
}
@include for-phone-only {
    .container {
            margin: 0 20px !important;
    }

}
@include for-tablet-portrait-down {
    .container {
        margin: 0 50px;
        h3 {
            @include text-2xl;
            font-weight: 300;
        }
    }
}
@include for-tablet-landscape-up {
    .container {
        h3 {
            // margin-left: 100px;
            @include text-3xl;
            font-weight: 200;
            max-width: 900px;
            margin: 0 auto;
        }
    }
}
.project {
    &__title {
        font-weight: 600;
    }
    &__desc {
        font-weight: 300;
    }
    &__tags {
        font-weight: 100;
        margin-bottom: 20px;
    }
    &__links {
        text-transform: uppercase;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            display: inline-block;
            &:hover {
                color: $yellow;
            }
        }
        img {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-left: 5px;
        }
    }
}

@include for-tablet-portrait-down {
    .project {
        &__container {
            margin: 10px 30px 30px 30px;
        }
        &__title {
            @include text-lg;
        }
        &__desc {
            margin-bottom: 10px;
        }
        &__tags {
            margin-bottom: 10px;
        }
        &__links {
            a {
                margin-right: 20px;
                margin-bottom: 10px;
            }
        }
        &__mid {
            display: none;
        }
        &__right {
            display: none;
        }
    }
}
@include for-tablet-landscape-up {
    .project {
        &__container {
            max-width: 900px;
            margin: 50px auto 100px auto;
            display: grid;
            grid-template-columns: 45% 5% 50%;
            // gap: 20px;
        }
        &__left {
            display: flex;
            justify-content: center;
            // align-items: center;
            flex-direction: column;
        }
        &__title {
            margin-bottom: 10px;
            @include text-3xl;
        }
        &__desc {
            margin-bottom: 20px;
            @include text-xl;
        }
        &__tags {
            margin: 10px 0;
            @include text-xl;
        }
        &__links {
            @include text-xl;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            a {
                margin-right: 20px;
            }
        }
        &__mid {
            display: grid;
            place-items: center;
            span {
                display: block;
                height: 100%;
                width: 2px;
                background-color: rgba($gray, .3);
                margin: 0 10px;
            }
        }
        &__image {
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

// About me Section
.about {
    h3 {
        margin-bottom: 30px;
    }
    &__info {
        p {
            font-weight: 300;
            @include text-xl;
            // span {
            //         font-weight: 700;
            //     }
        }
    }
    &__image {
        background-color: rgba($yellow, .4);
        border-radius: 13px;
    }
}
@include for-tablet-portrait-down {
    .about {
        &__image {
            // border: 2px solid $yellow;
            max-width: 150px;
            max-height: 150px;
            margin: 10px auto;
            img {
                width: 100%;
                height: 100%
            }
        }
        &__info {
            p {
                @include text-base;

            }
        }
        &__skills {
            margin-top: 20px;
            line-height: 1.5;
            span {
                font-weight: 500;
            }
        }
    }
}

@include for-tablet-landscape-up {
    .about {
        &__container {
            display: grid;
            grid-template-columns: 1fr auto;
            place-items: center;
            max-width: 900px;
            margin: 0 auto;
        }
        &__image {
            width: 200px;
            height: 200px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__info {
            // padding: 0 50px;
            padding-left: 20px;
            p {
                margin-bottom: 10px;
            }
        }
        &__skills {
            grid-column: 1/3;
            max-width: 900px;
            margin: 15px auto;
            @include text-base;
        }
    }
}

.connect {
    margin: 50px 0;
    text-align: center;
    &__icons {
        margin-top: 10px;
        @include text-3xl;
        a {
            cursor: pointer;
            &:hover {
                color: $yellow;
                transition: .2s ease-in;
            }
        }
    }
}

@include for-tablet-landscape-up {
    .connect {
        h3 {
            @include text-xl;
        }
        &__icons {
            @include text-4xl;
        }
    }
}
